@import "tailwindcss";

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate-modalIn {
  animation: modalIn 0.35s cubic-bezier(0.4, 2, 0.6, 1) both;
}
